.swiper-container-thumbs {
    position: absolute;
    bottom: 0;
}

.swiper-button-prev,
.swiper-button-next {
    color: #FBAE3A;

}
.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 7vw;
}

.swiper-pagination-bullet-active {
    background: #FBAE3A;
}

.swiper-slide-thumb-active {
    background: rgba(0, 0, 0, .5) ;
}