.header {
    background-color: #FBAE3A;
    height: 11vh;
}
.headerDesktop {
    padding: 0;
    height: 8vw;

}

.headerWrapper {
    height: 100%;
    max-width: 90vw;
    margin: 0 auto;
}
.statusLogo {
    width: 100px;
    height: auto;
    margin: 1.5vw 0;
}
.statusLogoDesktop {
    width: 13vw;
}

.headerBox {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

}

.headerTel  {
    text-decoration: none;
    color: black;
    font-family: 'Vollkorn-Bold', sans-serif;
    font-size: 7vw;
    position: relative;
}
.conditions {
    font-size: 4vw;
    text-decoration: underline;
    position: relative;
    bottom: 1.4vw;
}

.headerTelDesktop  {
    font-size: 4.5vw;
}
.headerTelBigDesktop {
    font-size: 3.5vw;

}
.headerTelBigDesktop::after,
.headerTelDesktop::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 2px;
    height: 1px;
    width: 1%;
    background: black;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
}
.headerTelBigDesktop:hover::after,
.headerTelDesktop:hover::after {
     width: 100%;
     opacity: 1;
}
.navBox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.nav li {
    display: inline;
    color: #FBAD3A;
    list-style-type: none;

}



.headerHeadingLink {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 2vw;
    cursor: pointer;
    transition: color .2s linear 0.2s;
}
.headerHeadingLink::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -3px;
    height: 0.5px;
    width: 1%;
    background: black;
    border: 1px solid black;
    border-radius: 6px;
    opacity: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: opacity, width ease-in-out 0.25s;
}

.headerHeadingLink:hover::after {
    width: 100%;
    opacity: 1;
}
