@font-face {
  font-family: 'Vollkorn-Bold';
  src: url('./assets/fonts/Vollkorn-Bold.ttf');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./assets/fonts/OpenSans-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'OpenSans-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


